
-------------    Hunter Douglas Data Warehouse Master ---------------------

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [d_region_key]
      ,[region_code]
      ,[region_name]
      ,[dss_record_source]
      ,[dss_load_date]
      ,[dss_batch_load_date]
      ,[dss_create_time]
      ,[dss_update_time]
  FROM [HDDW_PRD].[Star].[d_region]


use HDDW_PRD
go

---================= *** Find Server name *** ================================---
select @@SERVERNAME

--- Find Linked Server ---
select * from sys.servers where is_linked = 1

select * from [hd-vm-bi-sql01].HDDW_PRD.star.d_region

---------- remember you have admin right in 'JDE_DB_Alan ' db, so you have control and can link to '[hd-vm-bi-sql01].HDDW_PRD' , however you cannot do reverse because you do not control data warehouse and you do not have control , unless you have admin right to set access to hdd dw. ----
---------- However you do not have access and cannot query directly from 'hdd dw' database to your 'JDE_DB_ALan' database ---------

select * from HD_2016EXPAD.JDE_DB_Alan.vw_Mast						--- does not work as of 10/12/2019 as there is no linked server
select * from [RYDWS366\HD_2016EXPAD].JDE_DB_Alan.dbo.cj			--- does not work
select * from [RYDWS366\HD_2016EXPAD].JDE_DB_Alan.jde_db_alan.vw_Mast    --- does not work



---==========================================================================================================================================
---------------  Get WO parts number from Work orders --------------------------------------        17/2/2020 ----------------------
 -------------  Get all Sales history On components level across HD and AWF channel ---- by exploring Comp level details from AWF Sales order ( breaks/exploded down to parts level from Finished Blinds to component ) --- 19/3/2020

select count(*) from HDDW_PRD.star.f_wo_parts_list      --- 17,656,155 rows , 96 columns --- huge table --- 2017 to 2019 ( total 3 years records of WO details )
select * from HDDW_PRD.star.f_wo_parts_list				--- 17 million records, appox 1 min = 1 million records ( nearlly 100 columns )
select top 3 *  from HDDW_PRD.star.f_wo_parts_list	

select l.wo_number from HDDW_PRD.star.f_wo_parts_list l    --- search 1 column only, it takes 2 mins

--- Note:
--- F3111 is JDE table on which work order fetched from...
--- F4211  is Jde table which stores 'Open sales' order - Sales order which has not been materilized yet ( anything could happen ) - 980/990 cancelled order need to be excluded;
---  F42119 is Jde table which stores 'CLosed sale' order - invoiced history - 620/980 invoiced.


--- combined sales (history + open sales order ) ---  17/2/2020
--- Not Or And Combined ... http://www.peachpit.com/articles/article.aspx?p=1276352&seqNum=6

;with so as

  (  	select * from HDDW_PRD.star.f_so_detail_history
		union all
		 --select * from HDDW_PRD.star.f_so_detail_current c where c.last_line_status_code + c.next_line_status_code <> '980999' and c.item_code in ('FAMT')  --- 12196
		-- select * from HDDW_PRD.star.f_so_detail_current c where c.last_line_status_code <> '980' and c.next_line_status_code <> '999' and c.item_code in ('FAMT')  --- 11810
		 select * from HDDW_PRD.star.f_so_detail_current c where not ( c.last_line_status_code = '980' and c.next_line_status_code = '999')		--- 13022  -- use this one !!
		-- select * from HDDW_PRD.star.f_so_detail_current c where (not c.last_line_status_code = '980')  or ( not c.next_line_status_code = '999')  --- 13022
		-- select * from HDDW_PRD.star.f_so_detail_current c where ( c.last_line_status_code <> '980')  or (  c.next_line_status_code <> '999')  --- 13022
		        
		)
  --select * from  so
   
   select so.order_number as So_num,so.work_order_number as So_wo_num,pr.wo_number as Part_wo_num
		 ,so.d_product_key as Parent_pd_key,so.item_code as Parent,pr.d_product_key Child_pd_key,pr.item_code as Child,pr.parts_description2,so.primary_quantity as ParentSoldQty,pr.quantity as ChildSoldQty,pr.uom Child_uom,c.contact_name as customer,so.order_date
   from so left join HDDW_PRD.star.f_wo_parts_list pr on so.work_order_number = pr.wo_number
           left join  star.d_product pd on so.d_product_key = pd.d_product_key 
		   left join [hd-vm-bi-sql01].HDDW_PRD.star.d_customer c on so.d_customer_key = c.d_customer_key
   where --so.item_code in ('FAMT')
      --  and so.jde_business_unit = 'AWF'    
		--and so.work_order_number = '04685890'   
		--and pr.item_code in ('42.421.855','52.018.000','44.011.007')
		  --so.order_number in ('5623307')					   ---  Sun Solution WA Dummy order
		   so.order_number in ('5626957')				        -- Sun Solution WA
  order by so.order_number 



select * from HDDW_PRD.Star.f_so_detail_history h
where h.order_number in ('5623307')
		
select * from HDDW_PRD.Star.f_so_detail_current c 
where c.order_number in ('05623307','375567')

 --- get simple FAMT blinds level sales --- 364 
select h.d_business_unit_key,h.d_customer_key,h.d_product_key,h.d_account_manager_key,h.order_number,h.company_code,h.order_type,h.jde_business_unit,h.business_unit_code,h.sold_to_account_code,h.invoice_number,h.gl_class,h.order_date,h.ship_date,h.invoice_date,h.item_code,h.pricing_uom,h.primary_quantity,h.sales_quantity,h.sales_amount,h.cost_amount,h.unit_list_price ,h.customer_number,h.last_line_status_code,h.next_line_status_code,h.work_order_number,h.dss_record_source,c.d_customer_key,c.customer_number,c.contact_name,c.sold_to_account_code,c.sold_to_account_manager_name,c.channel_name,c.state_code  
from HDDW_PRD.star.f_so_detail_history h left  join star.d_customer c on h.d_customer_key = c.d_customer_key
        --where h.item_code in ('38.001.005')
 where h.item_code in ('FAMT')

select * from HDDW_PRD.star.f_so_detail_history h left join star.d_customer c on h.d_customer_key = c.d_customer_key
where h.item_code in ('FAMT') and h.order_number in ('05614583')

select * from HDDW_PRD.star.f_wo_parts_list p
where p.wo_number in ('04685890') 


select * from HDDW_PRD.Star.d_customer
select * from HDDW_PRD.star.d_product p where p.item_code in ('RBSC','38.001.005')

--- 28/2/2020 --- cannot find records
select * from HDDW_PRD.Star.f_so_detail_history h
--where h.item_code in ('38.001.005')
where h.order_number in ('375568')


select p.item_code,h.*
from HDDW_PRD.star.f_so_detail_history h left join  star.d_product p  on h.d_product_key = p.d_product_key 
where p.item_code in ('38.001.005')


-------------------- To Get All sales history for '44.011.007' fibre glass using Sales history table including all channels ie AWF, WCC etc -----------------------------

select h.item_code,h.d_product_key,h.d_customer_key,h.d_account_manager_key,h.order_number,h.company_code,h.order_type,h.jde_business_unit,h.business_unit_code
       ,h.sold_to_account_code,h.invoice_number,h.gl_class,h.order_date,h.ship_date,h.invoice_date,h.item_code,h.pricing_uom,h.primary_quantity,h.sales_quantity,h.sales_amount,h.cost_amount,h.unit_list_price
	   ,h.customer_number,h.last_line_status_code,h.next_line_status_code,h.work_order_number,h.dss_record_source,c.d_customer_key,c.customer_number,c.contact_name,c.sold_to_account_code,c.sold_to_account_manager_name,c.channel_name,c.state_code  
from HDDW_PRD.star.f_so_detail_history h left  join star.d_customer c on h.d_customer_key = c.d_customer_key
        --where h.item_code in ('38.001.005')
-- where h.item_code in ('44.011.007')
	where h.item_code in ('18.019.013')	
-------------------------------------------------------

--------------- DW ----------------- Guru's query ---

select  f.jde_business_unit, substring( cast(f.d_date_key as varchar) , 1, 6) Order_YYMM
		 ,d.price_group_desc, d.family_group_desc,u.primary_uom_name, 
		sum(f.primary_quantity)   primary_quantity		 

from HDDW_PRD.star.f_so_detail_history  f join  star.d_product  d 	on f.d_product_key = d.d_product_key 
								join star.d_primary_uom u 	on f.d_primary_uom_key = u.d_primary_uom_key 

where    d.item_code = '31121765'
group by f.jde_business_unit, 
		substring( cast(f.d_date_key as varchar) , 1, 6) , 
		 d.price_group_desc, d.family_group_desc,   u.primary_uom_name 
		 order by 1, 2 


-----------------Alan's query --------------------------------------------------------------

select count(*) from dv.ds_F42119
select count(*) from star.f_wo_parts_list
select top 3 * from star.f_wo_parts_list
select min(l.requested_date), max(l.requested_date) from star.f_wo_parts_list l

select count(*) from star.f_so_detail_history
select top 3 * from star.f_so_detail_history h

;with z as (
		select h.jde_business_unit, count(h.order_number) as sales_ct 
		from star.f_so_detail_history h
		group by h.jde_business_unit
		 )

	select z.*,sum(sales_ct)over() as ttl_sales_ct from z
	order by sales_ct desc


select count(*) from star.f_so_detail_history h where h.jde_business_unit in ('AWF')


----------------- AWF Blinds Sales history -----------------
-- xxxxxxxxxxx ---  Order date ---xxxxxxxxxxxx --- do not use , use Invoice date 
select  h.jde_business_unit        
		,h.item_code,p.d_product_key		
		 ,p.price_group_desc
		  ,h.d_customer_key
		  ,c.customer_number
		 ,c.contact_name

		 ,p.family_group_desc
		 ,u.primary_uom_name 		 
		 ,substring( cast(h.d_date_key as varchar) , 1, 6) Order_YYMM
		--  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date)-37,0),126),'-',''),1,6) as integer) as Inv_YYMM	
		,sum(h.primary_quantity)   primary_quantity		 

from [hd-vm-bi-sql01].HDDW_PRD.star.f_so_detail_history h left join  [hd-vm-bi-sql01].HDDW_PRD.star.d_product  p 	on h.d_product_key = p.d_product_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_primary_uom u 	on h.d_primary_uom_key = u.d_primary_uom_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_customer c on h.d_customer_key = c.d_customer_key



--where    d.item_code = '31121765'
where  --  h.item_code = '44.011.007'
          --h.item_code = '32.379.200'
		  h.item_code in ('PRHI1')
  --where f.order_number in ('5456172')
group by h.jde_business_unit         
		 ,h.item_code,p.d_product_key	 
		 ,p.price_group_desc
		 ,h.d_customer_key
		 ,c.customer_number
		 ,c.contact_name

		 ,p.family_group_desc
		 ,u.primary_uom_name 
		 ,substring( cast(h.d_date_key as varchar) , 1, 6) 
		 --,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date)-37,0),126),'-',''),1,6) as integer) 
 order by h.item_code
          ,cast(substring( cast(h.d_date_key as varchar) , 1, 6) as int)
		 -- ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date)-37,0),126),'-',''),1,6) as integer)


	--- Invoice history --- Sales by month by customer ( original sales is by each date so has to be grouped by month otherwise too much lines )  , Invoive date ---xxxxxxxxxxxx --- Use this one , not Order date
	--- Note when you aggregate by Sales qty ( not primary qty ), if UOM is different each month for one customer ( which is rare ) then you might get sum by different UOM by month --- so it is better to use primary UOM
select  h.jde_business_unit        
		,h.item_code,p.d_product_key		
		--- ,p.price_group_desc			--use Item_name instead
		,p.item_name

		 ,h.d_customer_key
		  ,c.customer_number
		 ,c.contact_name
		
		 --,p.family_group_desc
		 ,p.family_group_code		-- use code instead of desc
		 ,p.family_code
		 ,p.business_unit_code		-- use code instead
		 ,p.business_unit_name

		 ,u.primary_uom_code	as UOM_PR	-- use code instead
		  ,h.pricing_uom   as UM_PX
		--  ,u.primary_uom_name 		 
		-- ,p.jde_business_unit		-- duplicate you already have bu in history table

		-- ,substring( cast(f.d_date_key as varchar) , 1, 6) Order_YYMM
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,8) as integer) as Inv_YYMMDD	
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) as Inv_YYMM	
		,sum(h.primary_quantity)   primary_quantity	
		,sum(h.sales_quantity)    sales_quantitiy
		,sum(h.sales_amount)      sales_amount	 	 

from [hd-vm-bi-sql01].HDDW_PRD.star.f_so_detail_history h left join  [hd-vm-bi-sql01].HDDW_PRD.star.d_product  p 	on h.d_product_key = p.d_product_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_primary_uom u 	on h.d_primary_uom_key = u.d_primary_uom_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_customer c on h.d_customer_key = c.d_customer_key

--where    d.item_code = '31121765'
where 
	--h.item_code = '38.004.000'
      h.item_code = '38.001.005'
	  --  h.item_code = '18.019.013'				--- anti bacterial wipe
	 -- h.item_code = '44.011.007'
   --where f.order_number in ('5456172')
   --  and h.invoice_date is not null				--- do you need to include SKUs with no invoice date but possible with Order date ?
        --and p.business_unit_name = 'Blindmaker'     --- do you need this one ? DOes AWF selling components ?  10/12/2019
		-- and p.business_unit_name = 'Components'      --- state expplicitly albeit h.business_unit is in 'select' clause
		 -- and cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) >201910
		-- h.order_number in ('5456172')
group by h.jde_business_unit         
		 ,h.item_code,p.d_product_key	 
		 --,p.price_group_desc
		 ,p.item_name
		 
		  ,h.d_customer_key
		  ,c.customer_number
		 ,c.contact_name

		 --,p.family_group_desc
		 ,p.family_group_code
		 ,p.family_code
		 ,p.business_unit_code
		 ,p.business_unit_name

		 ,u.primary_uom_code
		-- ,u.primary_uom_name
		,h.pricing_uom  
		-- ,p.jde_business_unit
		 --,substring( cast(f.d_date_key as varchar) , 1, 6) Order_YYMM
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,8) as integer)
		 ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) 
 order by h.item_code
         -- ,cast(substring( cast(f.d_date_key as varchar) , 1, 6) as int)
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer)


---------------------------------- WCC history ------------------ HD Parts --------------------------------------

-------- Note that HD history includes sales history sold to AWF ( also include sales for WCC channel customer ) ---------
--------- but HD sales history does not have details of where is components history originated for which customer ) and how much is from which blinds ---- we need seconds layer of details underneath ------

	-- xxxxxxxxxxx --- Sales by month by customer ( original sales is by each date so has to be grouped by month otherwise too much lines )  , Invoive date ---xxxxxxxxxxxx --- Use this one , not Order date
	--- Note when you aggregate by Sales qty ( not primary qty ), if UOM is different each month for one customer ( which is rare ) then you might get sum by different UOM by month --- so it is better to use primary UOM
select  h.jde_business_unit        
		,h.item_code,p.d_product_key		
		--- ,p.price_group_desc			--use Item_name instead
		,p.item_name

		 ,h.d_customer_key
		  ,c.customer_number
		 ,c.contact_name
		
		 --,p.family_group_desc
		 ,p.family_group_code		-- use code instead of desc
		 ,p.family_code
		 ,p.business_unit_code		-- use code instead
		 ,p.business_unit_name

		   ,u.primary_uom_code	as UM_PM	-- use code instead
		   ,h.pricing_uom   as UM_PX
		--  ,u.primary_uom_name 		 
		-- ,p.jde_business_unit		-- duplicate you already have bu in history table

		-- ,substring( cast(f.d_date_key as varchar) , 1, 6) Order_YYMM
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,8) as integer) as Inv_YYMMDD	
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) as Inv_YYMM	
		,sum(h.primary_quantity)   primary_quantity	
		,sum(h.sales_quantity)    sales_quantitiy
		,sum(h.sales_amount)      sales_amount	 

from [hd-vm-bi-sql01].HDDW_PRD.star.f_so_detail_history h left join  [hd-vm-bi-sql01].HDDW_PRD.star.d_product  p 	on h.d_product_key = p.d_product_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_primary_uom u 	on h.d_primary_uom_key = u.d_primary_uom_key 
								left join [hd-vm-bi-sql01].HDDW_PRD.star.d_customer c on h.d_customer_key = c.d_customer_key

--where    d.item_code = '31121765'
where  -- h.item_code = '26.119.347' 
	--  h.item_code = '44.011.007'
	--h.item_code = '24.7219.4460'
	--  h.item_code in ('40.132.131','40.129.378','40.197.850','40.129.433')
	--  h.item_code = '38.001.005'
	 --  h.item_code in ('2920436000')
	    h.item_code in ('82.336.901')
    --where f.order_number in ('5456172')
   --  and h.invoice_date is not null				--- do you need to include SKUs with no invoice date but possible with Order date ?
        --and p.business_unit_name = 'Blindmaker'     --- do you need this one ? DOes AWF selling components ?  10/12/2019
		-- and p.business_unit_name = 'Components'      --- state expplicitly albeit h.business_unit is in 'select' clause
		 --  and h.jde_business_unit in ('AWF')
		 -- and cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) >201910
		 ---h.order_number in ('5456172')
group by h.jde_business_unit         
		 ,h.item_code,p.d_product_key	 
		 --,p.price_group_desc
		 ,p.item_name
		 
		  ,h.d_customer_key
		  ,c.customer_number
		 ,c.contact_name

		 --,p.family_group_desc
		 ,p.family_group_code
		 ,p.family_code
		 ,p.business_unit_code
		 ,p.business_unit_name

		 ,u.primary_uom_code
		-- ,u.primary_uom_name 
		 ,h.pricing_uom

		-- ,p.jde_business_unit
		 --,substring( cast(f.d_date_key as varchar) , 1, 6) Order_YYMM
		 ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,8) as integer) 
		 ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) 
 order by h.item_code
         -- ,cast(substring( cast(f.d_date_key as varchar) , 1, 6) as int)
		  ,cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer)


select top 3 * from HDDW_PRD.star.f_so_detail_history
select distinct h.jde_business_unit,h.business_unit_code from HDDW_PRD.star.f_so_detail_history h

select * from HDDW_PRD.star.d_customer c where c.contact_name like ('%pacific%')
order by c.contact_name

select * 

---------------------------------------------------------------------------------------------------------------------------------
select h.item_code,h.invoice_date,sum(h.primary_quantity) as Sls_Qty
from Star.f_so_detail_history h 
where h.item_code in ('FAMT')
group by h.item_code,h.invoice_date


select h.item_code as Itm,h.* from star.f_so_detail_history h 
--where h.item_code in ('26.119.347')					
--where h.item_code in ('44.011.007')			-- Fibre glass
where h.item_code in ('82.691.901')				-- Zen fabric ( RB)

order by h.item_code,h.order_date,h.customer_number

select p.item_code,h.* from star.f_so_detail_history h left join star.d_product p on h.d_product_key = p.d_product_key             --- no need, history table alreadyhas item_code
where p.item_code in ('44.011.007')


select * from star.f_so_detail_history h
where h.order_number in ('5599230')							--- SKU 44.011.007 ( product key 82235 ) - fibre glass

select * from star.f_so_detail_history h 
where h.order_number in ('5456172')		
	 and h.item_code in ('RBSC')													--- Roller blinds single chain


select distinct h.order_type from star.f_so_detail_history h 


select * from star.f_so_detail_history h 
where h.item_code in ('44.011.007')

select * from star.f_so_detail_history h 
--where h.order_number in ('381612')

--where h.order_number in ('00159110')			-- this is actually SO # 159110 ( not SO 00159110)
where h.work_order_number in ('00159110')

--where h.order_number in ('159960')			---this is actually SO #159960
  where h.work_order_number in ('00159960')			--- HD WO #00159960


  select * from star.f_so_detail_history h 
  where h.order_number in ('05614583')			--- AWD SO #


select * from star.f_so_detail_history h 
--where h.order_number in ('381612')
--where h.item_code in ('facsd2')
  where h.item_code in ('famt')
        and h.invoice_date >'2020-02-01'
        and h.work_order_number in ('04685890')



------------------------------ *** Using HDD - DW Database *** ------------------------------------------------- 5/3/2020
---------------------------- Some statistic about tables in HDD DW ---------------------------- ---------------------------
select count(*) from Star.f_so_detail_history
select top 10 h.*  from Star.f_so_detail_history h

select c.contact_name,h.*  from Star.f_so_detail_history h left join star.d_customer c on h.d_customer_key = c.d_customer_key
  where   h.item_code in ('32.379.200')					---3419 rows
		and cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,h.invoice_date),0),126),'-',''),1,6) as integer) >201910		--- 36 rows
		

select count(*) from star.d_product p 
select top 10 p.* from star.d_product p 
select  p.* from star.d_product p where p.item_code in ('44.011.007')                               -- note 'item_code' 2nd item number,'item_number' is short item number in 'Product' table in data warehouse 28/2/2020

select count(*) from star.d_customer 
select top 10 c.* from star.d_customer c 

select *
from star.d_customer c 
where c.contact_name like ('%lovelight%')
--where c.customer_number in ('2088109')
order by c.customer_number


select * from HDDW_PRD.Star.d_customer


--------------05/03/2020 Work started using HDD - DW tables -------------------------------

;with wcc as 
		( select top 3 *
		  from HDDW_PRD.star.f_so_detail_history h
		  where h.jde_business_unit in ('HD')						-- important !
		  )

   select * from wcc


