/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [JDE_DB_Alan]
GO
/****** Object:  StoredProcedure [JDE_DB_Alan].[sp_Exp_FPFcst_func2Jde_ZeroOut]    Script Date: 8/06/2018 11:44:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [JDE_DB_Alan].[sp_Exp_FPFcst_func2Jde_ZeroOut]
		( 
		--@Supplier_id varchar(8000) = null
		  @ShortItem_id varchar(8000) = null
	  --,@DataType varchar (100) = null
		  )
AS
BEGIN
   
   	--=========================================================================================================================
	 ----------- Use Table Variables to Create a Template with 0 Forecast --- 16/3/2018 Works Yeah !!! -----------------------
	      --- Use ShortItemNumber and you can joined back to ML345 to get unique UOM description etc ---
	 --=========================================================================================================================       

	
			-- declare @ItemIDs table ( Ids varchar(8000) ) 
			--insert into @ItemIDs values ('40.033.131')
			--insert into @ItemIDs values ('085552500D212'),('40.033.131')
			--insert into @ItemIDs values ('26.802.659T'),('26.802.676T'),('26.802.830T'),('26.802.833T'),('26.802.971T'),('26.802.820T'),('26.802.962T'),('26.802.963T'),('26.810.971T'),('26.810.962T'),('26.810.830T'),('26.810.659T'),('26.810.833T'),('26.810.676T'),('26.800.820T'),('26.800.962T'),('26.800.963T'),('26.810.963T'),('26.800.659T'),('26.800.676T'),('26.800.830T'),('26.800.833T'),('26.800.971T'),('26.811.820T'),('26.811.962T'),('26.811.676T'),('26.801.820T'),('26.801.962T'),('26.801.963T'),('26.801.676T'),('26.803.659T'),('26.803.676T'),('26.803.830T'),('26.803.833T'),('26.803.971T'),('26.803.820T'),('26.803.962T'),('26.803.963T'),('6000130009001'),('6000030009001'),('6000130009004'),('6000130009008'),('6000030009005'),('6000130009003'),('6000030009011'),('6000030009012'),('6000130009002'),('6000130009011'),('6000130009010'),('6000130009012'),('6000030009004'),('6000130009006'),('6000130009009'),('6000030009007'),('6000130009005'),('6000030009003'),('6000030009009'),('6000030009002'),('6000030009010'),('6000030009006'),('6000130009007'),('6000030009008'),('6000030009001CL'),('6000030009002CL'),('6000030009003CL'),('6000030009004CL'),('6000030009005CL'),('6000030009006CL'),('6000030009007CL'),('6000030009008CL'),('6000030009009CL'),('6000030009010CL'),('6000030009011CL'),('6000030009012CL'),('6000130009001CL'),('6000130009002CL'),('6000130009003CL'),('6000130009004CL'),('6000130009005CL'),('6000130009006CL'),('6000130009007CL'),('6000130009008CL'),('6000130009009CL'),('6000130009010CL'),('6000130009011CL'),('6000130009012CL'),('8SCA3300PR'),('8SCA3300SB'),('8SCA3300BI'),('8SCA3300SU'),('8SCA3300CO'),('8SCA3300LQ'),('8SCA3300OY'),('8SCA300LQ'),('8SCA300BI'),('8SCA300SU'),('8SCA3300TRE'),('8SCA300CO'),('8SCA300SB'),('8SCA300PR'),('8SCA300TRE'),('8SCA300OY'),('8SCA3300BICL'),('8SCA3300COCL'),('8SCA3300LQCL'),('8SCA3300OYCL'),('8SCA3300PRCL'),('8SCA3300SBCL'),('8SCA3300SUCL'),('8SCA3300TRECL'),('8SCA300BICL'),('8SCA300COCL'),('8SCA300LQCL'),('8SCA300OYCL'),('8SCA300PRCL'),('8SCA300SBCL'),('8SCA300SUCL'),('8SCA300TRECL'),('6001030009007'),('6001030009009'),('6001030009010'),('6001030009011'),('6001030009019'),('6001030009020'),('6001030009021'),('6001030009022'),('6001030009023'),('6001130009007'),('6001130009009'),('6001130009010'),('6001130009011'),('6001130009019'),('6001130009020'),('6001130009021'),('6001130009022'),('6001130009023'),('6001030009007CL'),('6001030009009CL'),('6001030009010CL'),('6001030009011CL'),('6001030009019CL'),('6001030009020CL'),('6001030009021CL'),('6001030009022CL'),('6001030009023CL'),('6001130009007CL'),('6001130009009CL'),('6001130009010CL'),('6001130009011CL'),('6001130009019CL'),('6001130009020CL'),('6001130009021CL'),('6001130009022CL'),('6001130009023CL'),('6004030009038'),('6004030009041'),('6004030009049'),('6004030009050'),('6004129009038'),('6004129009041'),('6004129009049'),('6004129009050'),('6004030009038CL'),('6004030009041CL'),('6004030009049CL'),('6004030009050CL'),('6004129009038CL'),('6004129009041CL'),('6004129009049CL'),('6004129009050CL'),('8200124000910'),('8200124000907'),('8200124000908'),('8200124000906'),('8200124000903'),('8200124000927'),('8200124000932'),('8200124000901'),('8200124000904'),('8200124000912'),('8200124000929'),('8200124000911'),('8200124000928'),('8200124000902'),('8200124000933'),('8200124000905'),('8200124000909'),('8200124000930'),('8200124000931'),('8200124000926'),('8200128000910'),('8200128000907'),('8200128000908'),('8200128000906'),('8200128000903'),('8200128000927'),('8200128000932'),('8200128000901'),('8200128000904'),('8200128000912'),('8200128000929'),('8200128000911'),('8200128000928'),('8200128000902'),('8200128000933'),('8200128000905'),('8200128000909'),('8200128000930'),('8200128000931'),('8200128000926') 
			-- insert into @ItemIDs values ('1318213'),('1318221'),('1318256'),('1318192'),('1318205'),('1318248'),('1318264'),('1318230'),('1365693'),('1365677'),('1365651'),('1365626'),('1365669'),('1365634'),('1318117'),('1318141'),('1318109'),('1365685'),('1318088'),('1318096'),('1318133'),('1318061'),('1318070'),('1365714'),('1365722'),('1365706'),('1318168'),('1318176'),('1318150'),('1318184'),('1318301'),('1318310'),('1318344'),('1318281'),('1318299'),('1318336'),('1318352'),('1318328'),('1194901'),('1194847'),('1194935'),('1228277'),('1194880'),('1194927'),('1228242'),('1228251'),('1194919'),('1228306'),('1228293'),('1228314'),('1194871'),('1194951'),('1228285'),('1228200'),('1194943'),('1194863'),('1228226'),('1194855'),('1228234'),('1194898'),('1228269'),('1228218'),('1374047'),('1374135'),('1374768'),('1374784'),('1374792'),('1374805'),('1374813'),('1374821'),('1374830'),('1374848'),('1374856'),('1374864'),('1374143'),('1374872'),('1374881'),('1374899'),('1374901'),('1374910'),('1374928'),('1374936'),('1374944'),('1374952'),('1374961'),('1374979'),('1241391'),('1241404'),('1348674'),('1348666'),('1241359'),('1241375'),('1348682'),('1241455'),('1348771'),('1348762'),('1348754'),('1241439'),('1241480'),('1241471'),('1348797'),('1348789'),('1374303'),('1376149'),('1376157'),('1376165'),('1376173'),('1376181'),('1376190'),('1376202'),('1374291'),('1376085'),('1376093'),('1384763'),('1376106'),('1376114'),('1376122'),('1376131'),('1194960'),('1194986'),('1194994'),('1195006'),('1348615'),('1348623'),('1348631'),('1348640'),('1348658'),('1195049'),('1195065'),('1195073'),('1195081'),('1348560'),('1348578'),('1348586'),('1348594'),('1348607'),('1374055'),('1374151'),('1374987'),('1374995'),('1375007'),('1375015'),('1375023'),('1375040'),('1375058'),('1374160'),('1375074'),('1375091'),('1375103'),('1375120'),('1375146'),('1375154'),('1375171'),('1375189'),('1195284'),('1195313'),('1195399'),('1195401'),('1193545'),('1193570'),('1193625'),('1193633'),('1374063'),('1374178'),('1375197'),('1375200'),('1374186'),('1375218'),('1375226'),('1375234'),('1344606'),('1352614'),('1352622'),('1344518'),('1344526'),('1352657'),('1344577'),('1344500'),('1344534'),('1344585'),('1352665'),('1352649'),('1344542'),('1352593'),('1344593'),('1352606'),('1352631'),('1344551'),('1344569'),('1344497'),('1344489'),('1352534'),('1352542'),('1344391'),('1344403'),('1352577'),('1344454'),('1344382'),('1344411'),('1344462'),('1352585'),('1352569'),('1344420'),('1352518'),('1344471'),('1352526'),('1352551'),('1344438'),('1344446'),('1344374')
			--select * from @ItemIDs

			;with CalendarFrame as (
						select  -24 as t
								,1 as n
								,cast(DATEADD(mm, DATEDIFF(mm, 0, GETDATE())-24, 0) as datetime) as start
								,1 as x
						--	select 1 as t,1 as n,cast(DATEADD(mm, DATEDIFF(mm, 0, GETDATE())-24, 0) as datetime) as start
						union all
						select 
							 case when t +1 >24 then 1 else t+1 end 
							,case when n=12 then 1 else n+1 end
							,dateadd(mm, 1, start)
							,x+1
						-- select t+1 ,case when n=12 then 1 else n+1 end,dateadd(mm, 1, start)
						from CalendarFrame
					)
					  --select top 50 * from CalendarFrame
				 ,MonthlyCalendar as
						(
						select top 49 t, RIGHT('00'+CAST(n AS VARCHAR(3)),2) nmb
						,x
						,cast(SUBSTRING(REPLACE(CONVERT(char(10),start,126),'-',''),1,6) as integer) as [StartDate]
						,CONVERT(char(10),start,126) as startdt
						,DATENAME(mm,start) MnthName,DATENAME(yyyy,start) YearName from CalendarFrame
					)
        
				--select * from MonthlyCalendar
			   ,cal as ( 
						select cl.t,cl.nmb,cl.YearName,cl.MnthName
						,cl.StartDate
						,convert(date,dateadd(d,-1,dateadd(mm,0,startdt)),103) as Period_YMD_1		-- to get 'Jde FC Date' Format ie 31/Month/Year,however when FC loaded into Jde, Jde will automatically add 1 day and push FC to Following month, ie 31/1/2018 FC will be push into Month slot of 1/Feb/2018, so here you need to change date again
						,convert(date,dateadd(d,-1,dateadd(mm,1,startdt)),103) as Period_YMD_2      -- Current month + 1 month minus 1 day to get last day of same month , to get 'Jde FC Date' Format ie 31/Month/Year, get last day of last month 
						,convert(varchar(10),convert(date,dateadd(d,-1,dateadd(mm,1,startdt)),103),103) Period_YMD_3
						--,convert(date,dateadd(d,-1,dateadd(mm,0,startdt)-1),103) as _Period_YMD_1								-- wrong does not work this way  --- 8/6/2018
						--,convert(date,dateadd(d,-1,dateadd(mm,1,startdt)-1),103) as _Period_YMD_2								-- wrong does not work this way  --- 8/6/2018 	
						--,convert(varchar(10),convert(date,dateadd(d,-1,dateadd(mm,1,startdt)),103),103) _Period_YMD_3			-- wrong does not work this way  --- 8/6/2018

						,0 as Qty
						 from MonthlyCalendar as cl
						 where cl.t>-2
						 )
					--select * from cal


               ,item_tb as ( select splitdata as Ids from JDE_DB_Alan.dbo.fnSplitString(@ShortItem_id,',') )

				,_fc as ( select * from item_tb t cross join cal
							--order by t.Ids,cal.StartDate
							 )

				,fc_ as ( select _fc.Ids
								,m.ItemNumber
								,'HD' as BranchPlant
								--,'EA' as UOM
								,m.UOM as UOM
								,'BF' as ForecastType
								,_fc.Period_YMD_3
								,_fc.Qty
								,0 as Amt
								,0 as CustomerNumber,'N' as BypassForcing
							from _fc left join JDE_DB_Alan.Master_ML345 m on _fc.Ids = m.ShortItemNumber
							)

				 select * from fc_
				 --order by fc_.Ids,fc_.Period_YMD_3
				  order by fc_.Ids,right(fc_.Period_YMD_3,4) 
									,case substring(fc_.Period_YMD_3,4,2)	
											when '01' then 1
											when '02' then 2
											when '03' then 3
											when '04'then 4
											when '05' then 5
											when '06' then 6
											when '07' then 7
											when '08' then 8
											when '09' then 9
											when '10' then 10
											when '11' then 11
											when '12' then 12
									end 


				 option (maxrecursion 0)	


END
