/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [JDE_DB_Alan]
GO
/****** Object:  StoredProcedure [JDE_DB_Alan].[sp_FCPRO_SlsHistory_adj_Covid]    Script Date: 19/04/2021 11:14:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [JDE_DB_Alan].[sp_FCPRO_SlsHistory_adj_Covid]
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>

	--- 16/6/2020 ---

	----- Below comments are for sp_FCPRO_SlsHistory_adj  --------------
	--- This update happens when All Sales history data transformation is done except to 'remove' history noise - the input is manual here, so you review history and put SKU with abnormal demand ( with month in particular ) in an exception tbl, and join original sales data, this is last steop before loading sales data into forecasting system ------  12/6/2020
	--- This process could take 2 stages:
	--- 1) when month begin, overwrite history against SKU which you singled out/isolated last month, and overwrite history you get at beginnig of the month
	--- 2) after output sales history file ( with last month overwrite ) , review and try to find if  you have additional or need to remove any exceptions, then update both history table and exception table 
	----- End of comments for sp_FCPRO_SlsHistory_adj  --------------


	 --- ********************* ---
	  --- 16/4/2021 ----
	  --- Code to rectify Covid period sales history -- namely 202003,202004,202005 ( perhaps with possibility to include 202002 to be replaced as well ) to be replaced by prior year history 201903,201904,201905 ( perhaps using 201902 for 202002 as well )
	 
	  --- This update will happen aftre normal Sales History adjustment --- Will there be opportunity to consolidate Covid Adjustment with Normal Sales History adjust ?
	  --- Need to pay attention to which in which month period ( codeline 160 ) you need to put 201903/201904/201905 or put 202003/202004/202005,if wrong it will yield some unexpected result and possible wrong result !
	  			 

			
			  ------------- Alan's New code for Calendar ------------------ 1/6/2018 -------------------------------					

                  --->>>  New parameters for Alan's MthCal  ------ 16/4/2021 
				  --->>> old code has only 2 years of past months + 2 years future ( forward )     --- key is 24; length N <49;boundary m.rnk <25 and m.rnk >12 ;  
				  --->>> new code has 3 years of past months ( back ) + 2 years future ( forward )  ---key is 36; length N <61;boundary m.rnk <37 and m.rnk >24 ;
				  --->>> for Portfolio Analysis purpose only fetch last 12 months sales history

				  ---***Basically Extend 24 to 36 month for past; did not change Peter's code ( 24 months ? )
   
   	
		with R(N,_T,T_,T,XX,YY,start) AS
						(
							select 1 as N,-36 as _T,36 as T_,-35 as T,36 as XX,36 as YY,cast(DATEADD(mm, DATEDIFF(mm, 0, GETDATE())-36, 0) as datetime) as start      -- pay attention T starts -23,you need this so you can get XXX Column/Field in current month you start as 1, otherwise you can use XX field
							UNION ALL
							select  N+1, _T+1,T_-1,case when T+1<0 then T+1 else case when T+1 =0 then 1 else T+1 end end as T						
												,case when N >= 36  then _T+1
													else  
														XX-1
													end as XX
													,case when N >= 36  then T							     
													else  
														YY-1
													end as YY
									,dateadd(mm,1,start)
							from R
							where N < 61
						)
				--select * from r
					--select R.N,case when R._T < 0 then R.T_ else R._T end as T, start from R
					--select R.N,case when R._T < 0 then R.T_ else R.YY end as T, start from R
				,MthCal as (
									select  n as rnk
										,XX
										,YY 
									,cast(SUBSTRING(REPLACE(CONVERT(char(10),start,126),'-',''),1,6) as integer) as [StartDt]		-- [StartDt] is calendar date in MthCal
									,LEFT(datename(month,start),3) AS [month_name]
									,datepart(month,start) AS [month]
									,datepart(year,start) AS [year]				
									from R  )
			--select * from MthCal


			  ---***** Important to join vw_Mast table here to get your shortItem number, so avoid system crash later if you join table use ItemNumber because Indexing is based on SHortItemNumber !!! --- 16/4/2021
			,itm as ( 
			             select distinct h.ItemNumber as ItemNumber_,a.ShortItemNumber from JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload h left join JDE_DB_Alan.vw_Mast a on h.ItemNumber = a.ItemNumber			---5,127 records
						-- select distinct h.ItemNumber from JDE_DB_Alan.SlsHistoryHD h											    --- 8,864 records
						-- select distinct h.ItemNumber as ItemNumber_ ,h.ShortItemNumber from JDE_DB_Alan.SlsHistoryHD h			--- 8,939 records
						
						 )
					
	
			,mylist as ( select * from itm cross join MthCal )	
		 	  
			--select * from mylist m where m.ItemNumber_ in ('310200')	
			-- select * from mylist m where m.ItemNumber_ in ('34.252.000')
		 		  	     
			----------------- Padded Item with all Months --------------------		
		  

					--- below is tb padded Item with all Months ---
			,hist as																													
			(  select   

						m.ItemNumber_,m.ShortItemNumber
				            
						,h.CYM
						,h.CY
						,case
								when h.CY is null then m.year
								else m.year
                          end as CY_2
									
						,case
								when h.Month is null then m.month
								else m.month
                          end as month_2
						,m.month_name
						,h.ReportDate
						,case when h.SalesQty is null then 0 else h.SalesQty end as SalesQty_				
						,getdate() as ReportDate_												-- there is no different version of history, so do not bother to use old ReportData in History table UNLESS you need to join back to History table using ReportData as a key --- 5/9/2018
						,m.StartDt
						--,m.YY, m.rnk,m.month as mth						  
						,case 
							when h.CYM is null	then cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,GETDATE())-1,0),126),'-',''),1,6) as integer) 		-- why use this ?						
							else h.CYM
						end as CYM_
						,case 
							when h.CYM is null	then m.StartDt					
							else h.CYM
						end as CYM_2
						,m.YY
						,m.rnk
						

				--from list m left join JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload h on m.StartDt2 = h.CYM and  m.ItemNumber_ = h.ItemNumber			--- old  6/8/2020
					from mylist m left join JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload h on m.StartDt = h.CYM and  m.ItemNumber_ = h.ItemNumber			--- new 7/8/2020
				where    
						--list.StartDt = cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,GETDATE())-1,0),126),'-',''),1,6) as integer)			-- Watch out use List.StartDt Not h.CYM !!!   --- 29/5/2018
						-- h.CYM = '201804' and																													-- Performance issue ?
						--c.rnk =24																												-- last month ( for last month Sales)
					--where  m.StartDt <= cast(SUBSTRING(REPLACE(CONVERT(char(10),DATEADD(mm, DATEDIFF(m,0,GETDATE())-1,0),126),'-',''),1,6) as integer)    --- old 6/9/2020  
						-- m.rnk <= 36 and m.rnk >=1
						-- m.rnk < 37 and m.rnk > 24			--- last 12 month	
						-- m.rnk <= 36 and m.rnk >=12			--- recent 24 month, 201903 to 202103 
						-- m.rnk <= 27 and m.rnk >=12			--- distant 16 month, 201902 to 202107    isolate history for 2019 and 2020 (update 03/04/05 of 2020 sales using 2019 sales - leave 2021 history as is )
					     m.StartDt between 201903 and 202005	--- 16 months	
					
					)
              
			 ,_t as (						
					  select a.*
					   ,case
						 when a.month_2 = 3 and a.CYM_2 = 202003 then 201903			-- this is used for join purpose ( hard coded);better ( alternative) way to do that is by create 2 table - padded with 0 if there is no sales ( 1 with only 3 months 201903/201904/201905, 1 with 202003/202004/202005 and join by month (3/4/5 ) & ItemNumber)
						 when a.month_2 = 4 and a.CYM_2 = 202004 then 201904
						 when a.month_2 = 5 and a.CYM_2 = 202005 then 201905
					  else 0
						 end as CYM_stag 
					  from hist a 
					  where 
						 -- a.month_2 in ('3','4','5')
						   a.CYM_2 in ('201903','201904','201905','202003','202004','202005')
					    -- and  a.ItemNumber_ in ('310200','34.008.000','42.210.031')	
						 -- and  a.ItemNumber_ in ('310200')			
					  --order by a.ItemNumber_,a.rnk
					  )
					

            ,t_ as 
				( select t1.*
						,t2.SalesQty_ as Qty_stag_Yr_2019																--- YOu need to choose qty from t2 not t1 to get 2020 qty !
					from _t t1 left join _t as t2 on t1.ItemNumber_ = t2.ItemNumber_ and t1.CYM_stag = t2.CYM_2
					)
                 --select * from t_ a order by a.ItemNumber_,a.CYM_2

		
		      --- Get your replacement value for Covid-19 period 202003/202004/202004 using 201903/201904/201905 sales
		  ,t as ( select 
					--a.*
					a.ItemNumber_,a.ShortItemNumber,b.SellingGroup_,b.FamilyGroup_,b.Family_0,b.Description
					,a.CY_2,a.month_2,'12' as PPY,'12' as PPC,a.CYM_2,a.SalesQty_
					,case 
					   when a.SalesQty_ >= a.Qty_stag_Yr_2019 then a.SalesQty_
					   when a.SalesQty_ < a.Qty_stag_Yr_2019 then a.Qty_stag_Yr_2019
					 else 0              
					 end as Final_Sales_Qty_Covid_adj
				 
				  from t_ a left join JDE_DB_Alan.vw_Mast b on a.ItemNumber_ = b.ItemNumber
				  where a.Qty_stag_Yr_2019 is not null
				  
				     )

		  -- select * from t a
		  -- where a.ItemNumber_ in ('310200')
		  -- order by a.ItemNumber_,a.CY_2,a.month_2


		   --- Now get your Original 'SlsHist_AWFHDMT_FCPro_upload' table after normal 'sales_adj ' --- Need to filter out records which has  month 202003/202004/202005 First, then join back new records for 202003/202004/202005 
          ,tb as ( select *														--- Total records 79,901 ( 5091 SKUs should have 5091* 36 = 180,000 records but many sku are slow moving and do not have sales every months ; - 3176 are C pareto, out of 3176 there are 1837 eligible for ROP ( less than 3 hits ) and among them 1220 ROP are for HD Planners	
					from JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload a					
					where a.CYM not in ('202003','202004','202005')					--- 74,131 records	
					) 
             
          
		    --- Covid Exception period --- 202003, 202004,202005
		  ,tb_excp as ( 
					select *														--- Total records 79,901 ( 5091 SKUs should have 5091* 36 = 180,000 records but many sku are slow moving and do not have sales every months ; - 3176 are C pareto, out of 3176 there are 1837 eligible for ROP ( less than 3 hits ) and among them 1220 ROP are for HD Planners	
					from JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload a

					where a.CYM in ('202003','202004','202005')			  --- 6092 records 
					--where a.CYM in ('201903','201904','201905')			  --- 6186  records 
					--where a.CYM not in ('202003','202004','202005')			--- 73,809 records ( 79901 - 6092 ), if excluding Covid period records in Year 2020

					--where a.CYM not in ('202003','202004','202005')					--- 74,131 records						
					)

 
           ,tb_Covid_adj as 
		      ( 
			    select 'Total' as RowLabel
				       ,t.SellingGroup_,t.FamilyGroup_,t.Family_0,t.ItemNumber_,t.Description
					   ,t.CY_2 ,t.month_2,t.PPY,t.PPC,t.CYM_2,t.SalesQty_,t.Final_Sales_Qty_Covid_adj
					   ,'N' as ValidStatus_	
					   ,getdate() as ReportDate
				from t

			     )

          ,comb as 
		     ( select * from tb
			    union all
              select * from tb_Covid_adj
			  )

			
			select * from comb a 
			--where a.ItemNumber in ('310200','34.008.000','42.210.031')	
			order by a.ItemNumber,a.CYM

			-- Then Use Insert or delete old 'JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload a' table ??
			-- Or when initially update 'JDE_DB_Alan.SlsHist_AWFHDMT_FCPro_upload a' table, filter out Covid month records ( 202003/202004/202005 ) ??



			--- Need to update Px sp as well (  content update & also to ensure same structure )


END
